In [1]:
from operator import index
from wsgiref.simple_server import software_version

import pandas as pd
import numpy as np
from nbformat.v2 import new_worksheet
from pandas.core.interchange.dataframe_protocol import DataFrame

In [2]:
dataFrame = pd.read_excel("27-SalarySheet.xlsx")

In [3]:
dataFrame

       Employee Name            Department       Title  Salary
0       Semaj Bowers             Marketing         Mid     600
1        Gary Foster                 Sales         Mid     650
2   Saniya Maldonado                    HR         Mid     600
3     Jillian Zuniga                    HR     C-level    1000
4      Courtney Mora                 Sales         Mid     550
..               ...                   ...         ...     ...
95          Jake Gay                 Sales      Junior     443
96      Macy Webster               Finance     C-level    1250
97     Jaquan Meyers             Marketing  Mid-Senior     800
98       Willow Bush  Software Development      Junior     441
99   Emmanuel Prince                 Sales         Mid     612

[100 rows x 4 columns]

In [4]:
#1) Toplamda kaç satır veri vardır?

In [5]:
dataFrame.shape[0]

100

In [6]:
#2) Bu firma ortalama ne kadar maaş vermektedir?

In [7]:
dataFrame["Salary"].mean()

np.float64(725.84)

In [8]:
#3) Bu firmada departmanlara göre ortalama maaş karşılaştırması nasıldır?

In [13]:
# department_salary_mean = dataFrame.groupby("Department").describe()
department_salary_mean = dataFrame.groupby("Department").aggregate("mean","sum")
department_salary_mean

                          Salary
Department
Finance               805.411765
HR                    640.937500
Marketing             707.000000
Sales                 656.666667
Software Development  826.409091

In [27]:
#4) Bu firmada title (senior - junior) durumuna göre ortalama maaş karşılaştırması nasıldır?

In [15]:
dataFrame_title = dataFrame["Title"]
SalaryforTitle = dataFrame["Salary"]
yeni_dataFrame = pd.concat([dataFrame_title, SalaryforTitle], axis=1)
yeni_dataFrame.groupby("Title").mean()

                 Salary
Title
C-level     1058.333333
Junior       440.625000
Mid          641.450000
Mid-Senior   725.500000
Senior       867.777778

In [29]:
#5) Senior bir kişinin junior bir kişiye göre maaşı ortalama yüzde kaç fazladır?

In [30]:
senior = yeni_dataFrame[yeni_dataFrame["Title"] == "Senior"]
junior = yeni_dataFrame[yeni_dataFrame["Title"] == "Junior"]
senior_mean, junior_mean = senior["Salary"].mean(), junior["Salary"].mean()
fark = ((senior_mean - junior_mean) / junior_mean) * 100
print(f"Senior mean: {round(senior_mean,3)}\nJunior mean: {round(junior_mean,3)}\nFark: {round(fark,3)}")

Senior mean: 867.778
Junior mean: 440.625
Fark: 96.942

In [31]:
#6) Software development departmanında senior bir kişinin junior bir kişiye göre maaşı ortalama ne kadar fazladır?

In [21]:
Softfware_Department_data = dataFrame[dataFrame["Department"] == "Software Development"]
senior, junior = Softfware_Department_data[Softfware_Department_data["Title"] == "Senior"], Softfware_Department_data[Softfware_Department_data["Title"] == "Junior"]
senior_mean, junior_mean = senior["Salary"].mean(), junior["Salary"].mean()
fark = (senior_mean / junior_mean)
print(f"Senior mean: {round(senior_mean,3)}\nJunior mean: {round(junior_mean,3)}\nFark: {round(fark,3)}")

Senior mean: 895.0
Junior mean: 430.333
Fark: 2.08

In [33]:
#7) Finance departmanında c-level bir kişinin mid-senior bir kişiye göre maaşı ortalama ne kadar fazladır?

In [34]:
Finance_Department_data = dataFrame[dataFrame["Department"] == "Finance"]
c_level, mid_senior = Finance_Department_data[Finance_Department_data["Title"] == "C-level"], Finance_Department_data[Finance_Department_data["Title"] == "Mid-Senior"]
c_level_mean, mid_senior_mean = c_level["Salary"].mean(), mid_senior["Salary"].mean()
fark = ((c_level_mean - mid_senior_mean) / mid_senior_mean) * 100
print(f"C-level mean: {round(c_level_mean,3)}\nMid-senior mean: {round(mid_senior_mean,3)}\nFark: {round(fark,3)}")

C-level mean: 1030.0
Mid-senior mean: 790.0
Fark: 30.38

In [35]:
#8) Software development departmanında c-level çalışan sayısı marketing departmanında çalışana oranla kaç kat fazladır?

In [36]:
Softfware_Department_data = dataFrame[dataFrame["Department"] == "Software Development"]
Marketing_Department_data = dataFrame[dataFrame["Department"] == "Marketing"]
Softfware_Department_c_level = Softfware_Department_data[Softfware_Department_data["Title"] == "C-level"]
Marketing_Department_c_level = Marketing_Department_data[Marketing_Department_data["Title"] == "C-level"]
S_C_L_calisan_sayisi = Softfware_Department_c_level.shape[0]
MRKT_C_L_calisan_sayisi = Marketing_Department_c_level.shape[0]
katsayı = S_C_L_calisan_sayisi / MRKT_C_L_calisan_sayisi
print(f"Software Department C-level Çalışan Sayısı:{S_C_L_calisan_sayisi}\nMarketing Department C-level Çalışan Sayısı : {MRKT_C_L_calisan_sayisi}\nFark : {katsayı}")

Software Department C-level Çalışan Sayısı:6
Marketing Department C-level Çalışan Sayısı : 2
Fark : 3.0

In [22]:
dataFrame.loc[dataFrame["Department"] == "Software Development"].groupby("Title").describe()

           Salary                                                           \
            count         mean         std    min     25%     50%      75%
Title
C-level       6.0  1183.333333  371.034590  900.0  950.00  1100.0  1175.00
Junior        3.0   430.333333   26.652079  400.0  420.50   441.0   445.50
Mid           3.0   633.333333  202.072594  450.0  525.00   600.0   725.00
Mid-Senior    6.0   718.333333   69.402209  600.0  700.00   725.0   757.50
Senior        4.0   895.000000   57.300378  815.0  878.75   907.5   923.75


               max
Title
C-level     1900.0
Junior       450.0
Mid          850.0
Mid-Senior   800.0
Senior       950.0